---
openapi: "3.0.0"
info:
  title: Rayan AVL API Documentations
  version: 1.1.0
  description:
    This is `RayanAVL.ir` APIs documentation You can find out more about
    AVL at [rayangps.com](http://rayangps.com) For this sample, you can use
    the api key `special-key` to test the authorization filters.
servers:
  - url: https://rayanavl.ir:3001/api
    description: HTTPS
  - url: http://rayanavl.ir:2001/api
    description: HTTP
  - url: http://localhost:2001/api
    description: localhost
tag:
  - ticketing:
    description: Ticketing system for users
    externalDocs:
      url: https://rayanavl.ir/support/ticket
paths:
  /ticketing:
    get:
      tags: 
        - ticketing
      operationId: getAllTicketsV1
      summary: Get all user tickets
      responses:
        '200':
          description: |-
            200 response
          content:
            application/json:
              examples: 
                example1:
                  value: [
                        {
                            "_id": "5de6aae019e4c13034af050d",
                            "title": "23",
                            "application": "rayan_web",
                            "priority": 0,
                            "status": 1,
                            "user": {
                                "_id": "5cea9a1f69ceb503e8358119",
                                "username": "rayan"
                            },
                            "number": 1003,
                            "__v": 0
                        },
                        {
                            "_id": "5de6a15719e4c13034af050b",
                            "title": "4234",
                            "car": "5c49eb7586900f14686e85a7",
                            "application": "rayan_web",
                            "priority": 0,
                            "status": 0,
                            "user": {
                                "_id": "5cea9a1f69ceb503e8358119",
                                "username": "rayan"
                            },
                            "number": 1002,
                            "__v": 0
                        },
                    ]
        '404':
          description: |-
            404 Not found any ticket
          
  /v2:
    get:
      operationId: getVersionDetailsv2
      summary: Show API version details
      responses:
        '200':
          description: |-
            200 response
          content:
            application/json: 
              examples:
                foo:
                  value: {
                    "version": {
                      "status": "CURRENT",
                      "updated": "2011-01-21T11:33:21Z",
                      "media-types": [
                          {
                              "base": "application/xml",
                              "type": "application/vnd.openstack.compute+xml;version=2"
                          },
                          {
                              "base": "application/json",
                              "type": "application/vnd.openstack.compute+json;version=2"
                          }
                      ],
                      "id": "v2.0",
                      "links": [
                          {
                              "href": "http://127.0.0.1:8774/v2/",
                              "rel": "self"
                          },
                          {
                              "href": "http://docs.openstack.org/api/openstack-compute/2/os-compute-devguide-2.pdf",
                              "type": "application/pdf",
                              "rel": "describedby"
                          },
                          {
                              "href": "http://docs.openstack.org/api/openstack-compute/2/wadl/os-compute-2.wadl",
                              "type": "application/vnd.sun.wadl+xml",
                              "rel": "describedby"
                          },
                          {
                            "href": "http://docs.openstack.org/api/openstack-compute/2/wadl/os-compute-2.wadl",
                            "type": "application/vnd.sun.wadl+xml",
                            "rel": "describedby"
                          }
                      ]
                    }
                  }
        '203':
          description: |-
            203 response
          content:
            application/json: 
              examples:
                foo:
                  value: {
                    "version": {
                      "status": "CURRENT",
                      "updated": "2011-01-21T11:33:21Z",
                      "media-types": [
                          {
                              "base": "application/xml",
                              "type": "application/vnd.openstack.compute+xml;version=2"
                          },
                          {
                              "base": "application/json",
                              "type": "application/vnd.openstack.compute+json;version=2"
                          }
                      ],
                      "id": "v2.0",
                      "links": [
                          {
                              "href": "http://23.253.228.211:8774/v2/",
                              "rel": "self"
                          },
                          {
                              "href": "http://docs.openstack.org/api/openstack-compute/2/os-compute-devguide-2.pdf",
                              "type": "application/pdf",
                              "rel": "describedby"
                          },
                          {
                              "href": "http://docs.openstack.org/api/openstack-compute/2/wadl/os-compute-2.wadl",
                              "type": "application/vnd.sun.wadl+xml",
                              "rel": "describedby"
                          }
                      ]
                    }
                  }